body {
  margin: 0;
  color: #ffffff;
  padding: 25px;
  font-family: sans-sherif;
  background-size: 200%, 200%;
  background: #ffffff

 background-size: 1400% 1400%;

nav {
  display: flex;
  background-color: black;
  margin:0;
}

nav a, nav img {
  margin-right:17%;
}

nav a {
  top: 50%;
  transform: translateY(25%);
  color: white;
  text-decoration: none;

  /** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}


html, body {
  margin:0;
  padding:0;
}
